.container {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  overflow: hidden;
}

.box {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toys {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.pets {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
